.currPage{
  color:#44627c;
  font-weight: 700;
  float:left;
}

@media screen and (max-width: 480px) {

}

@media screen and (min-width: 480px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {

}




