body{
  background-color: #44627c;
}

h1{
  font-family: Corbel,'Myriad Pro',Arial, Helvetica, sans-serif!important;
  height: 30px;
  text-transform: uppercase!important;
  text-align: center;
  color: whitesmoke!important;
  font-weight: bold!important;
  font-size: 47px!important;
  margin-top: 3%!important;
}

@media all and (min-width: 1200px) {
  #app {
    width:80%;
    margin:0 10%;
  }
}

@media all and (min-width: 992px) {
  #app {
    width:80%;
    margin:0 10%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #app {
    width:96%;
    margin:0 2%;
  }
}

@media all and (max-width: 767px) {
  #app {
    width:98%;
    margin:0 1%;
  }
}

